$dark-gray: #282c34;
$white: white;

.App {
  background-color: $dark-gray;
  height: 100vh;
  color: $white;
}

.main header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.main header h2 { margin: 0; }
.main header img { width: 128px; height: 128px; }

.main .cells {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.main .cells .cell {
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}

.main .cells .title { font-size: 25px; }
.main .cells .row {
  width: 100%;
  text-align: center;
}
